body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  main {
    padding: 16px;

  }

  a {
    text-decoration: none;
  }
  .link1 {
    color: #14122A;
  }
  .link2 {
    color: #03A64A;
  }
  .title1 {
    color: #026873;
  }
  .sub_title {
    color: #2C3532;
  }
  .detail-title {
    color:  darkgreen;
  }
  footer {
    padding: 24px 0;
    background-color: #D0E5F2;
  }

  img {
    height: 200px;
  }

  nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #8DD5F2;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .grid-container {
    padding: 10px;
  }
  .my-table tr:nth-child(even) td {
    background-color: lightgray;
  }
